

h1 {
    color: rgba(10, 12, 12, 0.796);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h2 {
    color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor-tarjeta {
    background-color: rgba(192, 192, 192, 0.022);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.perfil {
    width: 200px;
    border-width: 6px;
    border-style: solid;
    border-color: yellow;
    margin: 0;
}

.borde-redondeado {
    border-radius: 150px;
}

#foto-perfil {
    height: 250px;
    justify-content: center;
    background-color: #9ACBD0;
    align-items: center;
}